header li {
    list-style: none;
    display: inline;
    padding-right: 20px;
    padding-left: 5px;
}

header a {
    text-decoration: none;
    font-family: cursive;
    font-weight: bold;
    padding-left: 10px;
}

header a:hover {
    color: blue ;
    text-decoration: underline;
}

.selected {
    color: black;
}

header h1 {
    font-size: 50px;
	font-style: bold;
	font-family: 'Permanent Marker', cursive;
	letter-spacing: -5px;
	text-align: left;
	color: yellow;
	text-shadow: 10px 10px 7px bl;
}

footer {
    margin-top: 800px;
    padding-bottom: 20px;
    text-align: center;
    background: rgb(127,255,212);
    color: blue;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.navigation {
    padding-top: 28px;
    padding-bottom: 22px;
}

header {
    position: fixed;
    background: rgb(127,255,212);
}

.page {
    background: #efefee;
}

.row1 {
    margin-top: 100px;
}

.socialicons li {
    display: inline;
}

.socialicons a:hover {
    font-size: 10px;
}
